#numeroCarrito
{
	height:20px; 
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #353535;
	border-radius: 50%;
	margin-left: 5px;
	color:#fff;
}
section.section-bebidas
{
	height: 90vh;
}
.titulo-bebidas
{
	text-align: right;
	margin: 0;
	padding: 30px;
	font-size: 40px;
	font-family: Roboto;
	color:rgba(0,99,65,1);
}

.titulo-bebidas span
{
}
.grid-bebidas
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	box-sizing: border-box;
	padding-top: 80px;
}
.item-bebida
{
	width: 290px;
	margin: 0 auto;
	background-color: #f2f2f2;
	border-radius: 35px;
	position: relative;
	transition: 500ms;
	margin-bottom: 130px;
}
.item-bebida > .icono-bebida
{
	width: 200px;
	height: 200px;
	
	background:url('../img/productos/2.png')no-repeat;
	background-size: contain;
	transform: translate(25%, -50%);
	background-position: center;
}
.icono-bebida.icono2
{
	background: url('../img/productos/z.png')no-repeat;
	background-size: contain;
	background-position: center;
	transform: translate(25%,-50%);
}

.icono-bebida.icono3
{
	background: url('../img/productos/8.PNG')no-repeat;
	background-size: contain;
	background-position: center;
	transform: translate(25%,-50%);
}
.icono-bebida.icono4
{
	background: url('../img/productos/7.png')no-repeat;
	background-size: contain;
	background-position: center;
	transform: translate(25%,-50%);
}

.icono-bebida.icono5
{
	background: url('../img/productos/10.png')no-repeat;
	background-size: contain;
	background-position: center bottom;
	transform: translate(25%,-40%);
}
.icono-bebida.icono6
{
	background: url('../img/productos/11-n.png')no-repeat;
	background-size: contain;
	background-position: center;
	transform: translate(25%,-54%);
}



.item-bebida > .nombre-bebida
{
	margin: 0;
	padding:0;
	position: absolute;
	top:120px;
	text-align: center;
	font-family: Lato;
	color:#979A9A;
	font-size: 25px;

}
.item-bebida > hr.lineaHr
{
	border-width: 1px;
	width: 90%;
	margin: 0 auto;
}
.item-bebida > h5
{
	margin: 0;
	padding: 10px 20px;
	text-align: center;
	font-family: Lato;
	color:#979A9A;
	font-size: 110%;
}
.item-bebida .lista-ingredientes
{
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lista-ingredientes > li
{
   padding: 10px 15px;
   margin: 0 5px;
   font-family: Roboto;
   color:#979A9A;
}
.lista-ingredientes > hr.linea-in
{
	width: 120px;
	height: 1px;
	background-color: #000;
	border-color: #979A9A;
	border:none;
}
.item-bebida > .c-a
{
	height: 30px;
	margin: 10px auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
}
.c-a button.agregar
{
	width: 40%;
	height: 30px;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	margin-bottom: 10px;
	outline: none;
	cursor: pointer;
	font-family: Lato;
	font-weight: bold;
	padding: 8px;
	display: none;
	margin:0  5px;
	font-size: 80%;
	line-height: 10px;
}


.item-bebida:hover
{
	transform: scale(1.09);
	background-color: rgba(0,99,65,1);
}
.item-bebida:hover .t
{
   color: #fff ;
}
.item-bebida:hover hr.linea-in
{
  
   border-color: #fff;
   background-color: #979A9A;

}
.item-bebida:hover button.agregar
{
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-contacto
{
	border:1px solid #ddd;
	margin: 30px;
	transition: 500ms;
}
.icon-contacto
{
	width: 50px;
	height: 50px;
	background: url('../img/iconos/gmail.png')no-repeat;
    background-size: cover;
	margin: 20px auto;
}

.icon-contacto.w
{
	width: 50px;
	height: 50px;
	background: url('../img/iconos/whats.png')no-repeat;
    background-size: cover;
	margin: 20px auto;
}
.icon-contacto.me
{
	width: 50px;
	height: 50px;
	background: url('../img/iconos/me.png')no-repeat;
    background-size: cover;
	margin: 20px auto;
}

.type-contacto
{
	text-align: center;
	font-size: 1.5em;
}
.name-contacto
{
	text-align: center;
	color:rgba(0,99,65,1);
}
.item-contacto:hover
{
	background: rgba(0,99,65,1);
	color:#fff;
}
.item-contacto:hover .name-contacto
{
	color:#fff;
}
