@font-face
{
    font-family: Scarlet;
    src:url('fonts/Scarlet.ttf');
}
body
{
   padding: 0;
   margin: 0;
   overflow-x:hidden;
}
body::-webkit-scrollbar
{
    width: 3px;
    background: #f2f2f2;
}
body::-webkit-scrollbar-thumb
{
    background: rgba(0,99,65,1);
}
header.header
{
  
    height: 10vh;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
}
header ul.header-list
{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-list li.box-logo
{
 
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;

}

.header-list .box-url
{
    width: 50%;
    height: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: flex-end;
}
.box-url a.link
{
    margin: 0 10px;
    align-items: inherit;
    padding: 0 8px;
    text-decoration: none;
    font-family: Lato;
    color:#979A9A;
    margin-top: 8px;
}
a.link .lineaC
{
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
}
.lineaC .linea
{
    width: 0%;
    height: 4px;
    background: #006341;
    transition: 500ms;
}
a.link:hover .linea
{
   width: 100%;
}
.logo
{

    width: 40px;
    height: 40px;
    background: url('../img/logo.jpg')no-repeat;
    background-size: cover;
    margin: 0 20px;

}
section.section-header
{
    height: 90vh;
    background: red;
}
.padre-box
{
    width: 100%;
    height: 100%;
    background: blue;
    display: flex;
    align-items: center;
}
.box
{
    width: 50%;
    height: 100%;
}
.box.box1
{
  background:#fff;
  box-sizing: border-box;
  padding-top: 70px;

}
h4.subtitulo
{
    font-size: 30px;
    padding: 40px;
    padding-bottom: 0;
    height: 40px;
    margin: 0;
    font-family: Lato;
    font-weight: normal;
    color:#979A9A; 
}
h2.titulo-exp
{
    padding:0px 40px 0 40px;
    font-family: 'Open Sans';
    font-size: 40px;
    margin-bottom: 0;
}
h2.titulo-exp span.verano
{
    color:rgba(0,99,65,1);
}
p.descripcion
{
    padding: 10px 30px 0px 40px;
    margin: 0;
    font-family: Lato;
    font-weight: normal;
    color:gray;
}
button.saber-mas
{
    background: red;
    margin: 40px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: none;
    background: rgba(0,99,65,1);
    color:#fff;
    font-family: Lato;
    font-size: 17px;
    cursor: pointer;
    transition: 500ms;
}
.saber-mas:hover
{
  background: #ddd;
  color:#000;
}
.box2
{
 background: #fff;
 display: flex;
 align-items: center;
 justify-content: center;
}
.box2 .img-container
{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container .img
{
    width:90%;
    height:90%;
    background: url('../img/productos/4.jpg')no-repeat;
    background-size: cover;
    animation-name: Cambio;
    animation-duration: 10s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0;
    left: 0;

}
@keyframes Cambio
{
 
     25%
     {
        background: url('../img/productos/4.jpg');
        background-size: cover;
     }

}
section.section-two
{
    background: #ddd;
    width: 100%; 
    height: 85vh;
}
.section-two h4.subtitulo
{
    color:rgba(0,99,65,1);
}
.grid-padre
{
    display: grid;
    /*grid-template-columns: repeat(2, minmax(200px));*/
    grid-template: repeat(2, 200px)/ repeat(2,500px) ;
    grid-gap: 30px;
    padding: 20px;
    /*background: red;*/
    justify-content: center;
    margin: 10px 0;
}
.item-novedad
{
       /*border: 1px solid red;*/
}
.item-novedad.n
{
    background: blue;
    height: 0;
    width: 0;
}
.item-novedad.one
{
    background: transparent;
    height: 430px;
}
.bn
{
}

.bn1
{
    width: 100%;
    height: 70%;
    box-sizing: border-box;
    background: #fff;
}
.bnImg
{
    width: 100%;
    height: 100%;
    background: url('../img/bebidas/1.jpg')no-repeat;
    background-size: cover;
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
}

.bn2
{
    height: 30%;
    width: 100%;
    background: #fff;
}
.bn2 h3
{
    padding: 10px 15px;
    margin: 0;
    color:#000;
    font-weight: normal;
    font-family: Lato;
    font-size: 23px;


}
.item-novedad.two
{
    background-size: cover;
    border-radius: 3px;
}
.two-box1
{
    width: 100%;
    height: 50%;
    background: #fff;
}
.two-box2
{
    width: 100%;
    height: 50%;
    background: green;
}
section.section-three
{
    padding-bottom: 30px;
}
section.section-three h4.subtitulo.dlz
{   
    color:rgba(0,99,65,1);


}
.fb-box
{
    width: 85%;
    height: 460px;
    margin:65px auto;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;

}
.fb1
{
    width: 60%;
    height: 100%;
    background: blue;
}
.fb1.inv
{
    background: gray;
    position: absolute;
    right: 0;

}
.fb2.inv
{
    left: 0;
}
.fb-img
{
    width: 100%;
    height: inherit;
    background: url('../img/bebidas/6.jpg')no-repeat;
    background-size: cover;

}
.fb2
{
    height: 90%;
    width: 55%;
    background: #f2f2f2;
    position: absolute;
    right: 0;
}
.fb2 h1.number
{
    font-family: Scarlet;
    font-weight: normal;
    font-size: 140px;
    margin: 0;
    padding: 0 30px;
    color:rgba(0,99,65,1);
}

.fb2 h2.titulo
{
    margin: 0;
    padding: 0 20px;
    font-family: Lato;
    font-weight: normal;
    font-size: 29px;
}
.fb2 .fb2-description
{
    padding: 20px;
    margin: 0;
    font-size: 18px;
    font-family:Roboto;
}
.pick1
{
    background: url('../img/bebidas/6.jpg');
    background-size: cover;
}
.pick2
{
    background: url('../img/bebidas/1.jpg');
    background-size: cover;
}
.pick3
{
    background: url('../img/bebidas/2.jpg');
    background-size: cover;
}
section.section-promo
{
    height: 100vh;
    background: #f2f2f2;
}
.section-promo h4.subtitulo
{
    color: rgba(0,99,65,1);

}
.lugares
{
    height:70%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.lugar-item
{
    transition: 500ms;
    background: red;
    width: 90%;
    height: 70%;
    background: blue;
    display: inherit;
    align-items: inherit;
}
.lugar-item .n1
{
    height: 100%;
    width: 30%;
    background: #fff;
    display: inherit;
    justify-content: center;
    align-items: inherit;
}
.n1 .n1-img
{
    width: 50%;
    height: 50%;
    background: url('../img/logo.jpg')no-repeat;
    background-size: cover;
    transition: 500ms;
}
.n1-img:hover
{
    transform: rotateY(180deg);
}
.lugar-item .n2
{
    width: 70%;
    height: 100%;
    background: pink;
}
.n2-img
{
    width: 100%;
    height: 100%;
    background: url('../img/lugares/inicio.jpg')no-repeat;
    background-size: cover;
}
.n2-box-content
{
    
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}
.box-content-icon
{
    width: 60px;
    height: 60px;
    margin: 0 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}
.icon-box-icon
{
    width: 50%;
    height: 50%;
    background: green;
    background: url('../img/iconos/lugar.png');
    background-size: cover;
}
.box-content-h3
{
    padding: 0;
    margin: 0;
    color:#fff;
    font-family: Roboto;
    display: flex;
    align-items: center;
    height:60px;
}
.box-content-p
{
  margin: 0;
  padding: 20px;
  padding-top: 0;
  color:#fff;
  font-family: Roboto;
  text-align: center;
  padding-top: 10px;
}
.n2-deg
{
    width: 40%;
    height: 100%;
    background: rgba(0,0,0,.7);
}
.lugar-item:hover
{
    /*transform: scale(1.03);*/
}

.f1
{
    background: url('../img/lugares/canada.jpg');
    background-position: center;
    background-size: cover;
    height: 480px;
}
.f2
{
    width: 600px;
}
.f3
{
    background: blue;
    width: 0;
    height: 0;
}
section.section-desc
{
    height: 70vh;
    background: #fff;
    background-size: cover;
    background-position: center;

}
section.section-desc > h4.subtitulo
{
    color:rgba(0,99,65,1);
}
.section-desc .promociones-grid
{
    display: grid;
    grid-template-columns: repeat(3, minmax(150px , 1fr));
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}
.promociones-grid .promo-item
{
    height: 400px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}
.promo-item:nth-of-type(3){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border:none;
}
.image
{
    width: 200px;
    height: 200px;
    background: url('../img/productos/6.png')no-repeat;
    background-size: contain;
    transform: scale(2.5) rotateZ(10deg);

}
.promo-item .container-green
{

    width: 100%;
    height: 300px;
    background: rgba(0,99,65,1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 50px;
}
.container-green .container-w
{
    position: absolute;
    width: 110%;
    height: 90%;
    background: #353535;
    box-sizing: border-box;
    padding-right: 100px;
    left: 30px;
}
.promo-img
{
    width: 100%;
    height: 70%;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0;
    background: url('../img/bebidas/2.jpg');
    background-size: cover;
    transition: 600ms;

}
.promo-img:hover
{
    transform: rotateY(180deg);
}
.promo-buttons
{
    width: 100%;
    height: 30%;
    background: #f2f2f2;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo-buttons > button.button-cupon
{
    width:150px;
    height: 40px;
    margin: 0 10px;
    border:none;
    background-color:rgba(0,99,65,1);
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    padding: 0 8px;
    cursor: pointer;
}
.promo-buttons > h2.promo-title
{
   
   padding: 0 8px;
   font-family: Lato;
   font-weight: normal;

}